#body {
    background-image: url("bg.jpg");
}

#Ntxt {
    background-color: #b3e6ff;
    padding: 10px;
    border-radius: 10px;
    color: #007acc;
}

.navbar-nav {
    background-color: #007acc;
    border-radius: 10px;
}

.nav-link {
    color: #b3e6ff;
}

a {
    color: #007acc;
}

.content {
    color: #007acc;
    background-image: url("blockbg.png");
    border-radius: 15px;
}

.mxw-960 {
    max-width: 960px;
}

.bgc-green {
    background-color: #66ccff;
    width: 100%;
}

.fs-120p {
    font-size: 120%;
}

.ff-sans-serif {
    font-family: sans-serif;
}


.logo__img {
    width: 100px;
    height: 100px;
}

#t1 {
    border: 2px solid;
    border-color: #007acc;
    border-collapse: collapse;
}

    #t1 th {
        border: 2px solid;
        border-color: #007acc;
    }

    #t1 td {
        border: 2px solid;
        border-color: #007acc;
    }

    #t1 tbody tr:nth-child(even) {
        background-color: #66ccff;
    }

    #t1 tbody tr:nth-child(odd) {
        background-color: #b3e6ff;
    }
